# Ignore user's workspace
workspace/

# Build directory
build/

# Editor and local tooling files
.idea/
firebase-debug.log

# clangd cache and code completion files
.cache
compile_commands.json

# Blender temporary files
*.blend1

# Python bytecode cache
__pycache__/
*.py[cod]

launcher.log